<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.automate_application">   <!-- change to your app's package name -->

    <!-- Needed for Flutter debug/hot reload -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="AutoMate"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- This is what makes your app appear on your phone -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- This keeps Flutter running -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
